@import url("https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css");
@import url("fonts.css");

a,
a:hover,
a:visited {
	color: inherit;
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 1.5px;
}

blockquote {
	border-left: 0.5px solid black;
	padding-left: 1rem;
}

hr {
	border: none;
}

img {
	max-width: 100%;
}

ol,
ul {
	margin-left: 2rem;
}

table {
	border: none;
	border-collapse: collapse;
	text-align: left;
}

tr:not(:first-child) {
	border-bottom: 0.5px solid silver;
}

th {
	border-bottom: 0.5px solid black;
}

th,
td {
	padding: 0.5rem 1rem;
}

/* code */
code:not(pre code),
pre:has(code) {
	font-family: "SF Mono";
	hyphens: none;
}

/* blocky code */
pre:has(code) {
	padding-left: 1rem;
	text-wrap-mode: wrap;
}

/* inline code */
code:not(pre code) {}

/* math */
/* blocky math */
.katex-display {
	margin: 0;
}

.katex-display .katex-html {
	font-size: 1rem;
}

/* inline math */
p .katex {
	font-size: 1rem;
	line-height: inherit;
	white-space: nowrap;
}
