@import url("https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css");
@import url("fonts.css");

a,
a:hover,
a:visited {
	color: rgb(32, 94, 166);
	text-decoration: none;
}

blockquote {
	border-left: 1px solid black;
	padding-left: 1rem;
}

hr {
	border: 0;
}

img {
	max-width: 100%;
}

ol,
ul {
	list-style-position: inside;
}

li::marker {
	font-weight: bold;
}

li + li {
	margin-top: 0.5rem;
}

table {
	border-collapse: collapse;
	text-align: left;
}

td,
th {
	border: 1px solid black;
	padding: 0.25rem 0.5rem;
}

/* BLOCK AND INLINE CODE */
code:not(pre code),
pre:has(code) {
	font-family: "SF Mono";
	hyphens: none;
}

/* BLOCK CODE */
pre:has(code) {
	padding-left: 1rem;
	text-wrap-mode: wrap;
}

/* INLINE CODE */
code:not(pre code) {}

/* BLOCK AND INLINE MATH */
.katex-html {
	font-size: 1rem;
}

/* BLOCK MATH */
.katex-display {
	margin: 0;
}

/* INLINE MATH */
p .katex {
	line-height: inherit;
	white-space: nowrap;
}
