@import url("https://cdn.jsdelivr.net/npm/github-markdown-css@5/github-markdown-light.css");

.markdown-body {
	font-family: "Helvetica";
	font-size: 12px;
	line-height: 1.15;
}

.markdown-body dl,
.markdown-body ol,
.markdown-body ul {
	margin-top: -8px;
}
