@import url("https://cdn.jsdelivr.net/npm/github-markdown-css@5/github-markdown-light.css");
@import url("https://fonts.googleapis.com/css2?family=Lora");

.markdown-body {
	font-family: "Helvetica";
	font-size: 11px;
	line-height: 1.15;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.markdown-body dl,
.markdown-body ol,
.markdown-body ul {
	margin-top: -8px;
}
