@page {
	margin: 0.5in;
	size: A4;
}

body {
	font-family: Arial;
	font-size: 12px;
}

a,
a:hover,
a:visited {
	color: black;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: silver;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 2px;
}
