@import url("https://fonts.cdnfonts.com/css/sf-mono");

@font-face {
	font-family: "VCTR Mono";
	src: url("fonts/vctr-mono-regular.woff2") format("woff2");
}

@font-face {
	font-family: "VCTR Mono";
	font-style: italic;
	src: url("fonts/vctr-mono-italic.woff2") format("woff2");
}

@font-face {
	font-family: "VCTR Mono";
	font-weight: 700;
	src: url("fonts/vctr-mono-bold.woff2") format("woff2");
}

@font-face {
	font-family: "Iowan Old Style";
	src: url("fonts/iowan-old-style-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Iowan Old Style";
	font-style: italic;
	src: url("fonts/iowan-old-style-italic.woff2") format("woff2");
}

@font-face {
	font-family: "Iowan Old Style";
	font-weight: 700;
	src: url("fonts/iowan-old-style-bold.woff2") format("woff2");
}
