@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700");
@import url("core.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Libre Baskerville";
	font-size: 16px;
	gap: 2rem;
	margin: 2rem auto;
	width: min(calc(100vw - 4rem), 640px);
}

nav {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

dl {
	display: grid;
	gap: 0.5rem 1rem;
	grid-template-columns: max-content auto;
}

article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	hyphens: auto;
	line-height: 1.6;
}
