/* @import url("https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/fonts.css"); */
@import url("https://fonts.cdnfonts.com/css/palatino");
@import url("https://fonts.cdnfonts.com/css/sf-mono");

:root {
	/* clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem) : [12, 16] on [320, 1440] px */
	--font-size: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

[hidden] {
	display: none;
}

.katex {
	font-size: var(--font-size);
}


body {
	font-family: "Palatino", "Times New Roman", serif;
	font-size: var(--font-size);
	color: black;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	line-height: 1.5;
	margin: 2rem auto;
	text-align: left;
	width: min(80vw, 720px);
}


a, a:hover, a:visited {
	color: black;
	text-decoration: underline;
	text-decoration-color: darkgrey;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 2px;
}

article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

article img {
	max-width: 100%;
}

blockquote {
	border-left: 1px solid lightgrey;
	padding-left: 1rem;
}

code {
	font-family: "SF Mono", monospace;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.125rem;
}

li {
	padding-left: 0.5rem;
}

li + li {
	margin-top: 0.5rem;
}

nowrap {
	white-space: nowrap;
}

ol, ul {
	padding-inline-start: 1.5rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table[main] tr + tr {
	border-top: 1rem solid transparent;
}

table:not([main]) {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

table:not([main]) td,
table:not([main]) th {
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-top: 0.25rem;
	padding-right: 0.5rem;
}

table:not([main]) th {
	border-bottom: 1px solid black;
}

td:first-child,
th:first-child {
	vertical-align: top;
	white-space: nowrap;
}

td + td,
th + th {
	padding-left: 2rem;
}
